@import url("./fonts.scss");

:root {
  --font-color-main: #fff;
  --font-color-disabled: rgba(255, 255, 255, 0.4);

  --bg-color-hover: rgba(174, 181, 185, 0.8);

  --btn-background: rgba(174, 181, 185, 0.5);
  --btn-background-disabled: rgba(76, 82, 85, 0.4);

  --double-padding: 32px;
  --basic-padding: 16px;
  --half-padding: 8px;

  --double-margin: 32px;
  --basic-margin: 16px;
  --half-margin: 8px;

  --fw-bold: 700;
  --fw-semiBold: 600;
  --fw-regular: 400;

  font-family: 'Montserrat-Regular', sans-serif;

  --ff-regular: 'Montserrat-Regular', sans-serif;
  --ff-semi-bold: 'Montserrat-SemiBold', sans-serif;
  --ff-bold: 'Montserrat-Bold', sans-serif;
}

body {
  transition: 0.5s all;
}

ul {
  list-style-type: none;
  padding: 0;
}

input:active,
input:hover,
input:focus {
  outline: 0;
  outline-offset: 0;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
